:root {
    --primary-color: #4169E1;
    --secondary-color: #27ae60;
    --accent-color: #e74c3c;
    --neutral-light: #ffffff;
    --neutral-gray: #ecf0f1;
    --neutral-dark: #95a5a6;
    --btn-hover-color: #95a5a6;
    --btn-hover-bg: #1b6d3d;
    --btn-hover-border-color: #1b6d3d;
  }
  