.about-container{
    background: url('/about-us.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

@supports not (background-image: url('/about-us.webp')) {
    .about-container {
      background-image: url('/about-us.jpg');
    }
  }
  
.about-subcontainer{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}
.about-wrapper{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;

    background-color: rgba(255, 255, 255, 0.685) !important;

}

@media (max-width: 1000px){
    .about-container{
        background-position-x: 63%;
    }
  }
